#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

#painting-info {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 1000px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

#painting-info.show {
  opacity: 1;
}
